body {
  margin: 0;
  padding: 0;
  /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";*/
  font-family: "Bariol", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

}

.container {
  padding-top:50px;
  max-width: 968px;
}

.course {
  width: 100%;
}

.course-title {
  color: #0AAFC4;
}

.course-list {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: column;
   align-content: stretch;
}

.course-list span{
   flex: 1;
}

.big-title {
  font-size: 2.875rem;
}

.hint {
  color: #0AAFC4;
}

.links {
  padding-bottom: 0.3rem; 
}